{% extends 'base.html' %}
{% load static %}

{% block content %}    

        <!-- Banner Area Two -->
        <div class="banner-area-two">
            <div class="container-fluid">
                <div class="container-max">
                    <div class="row align-items-center">
                        <div class="col-lg-5">
                            <div class="banner-content">
                                <h1>Meeting Your Digital Needs</h1>
                                <p>
                                    We deliver our best with the goal of trusting.  
                                </p>
                                <div class="banner-btn">
                                    <a href={% url "about" %} class="default-btn btn-bg-two border-radius-50">Learn More <i class='bx bx-chevron-right'></i></a>
                                    
                                    <a href={% url "contact" %} class="default-btn btn-bg-one border-radius-50 ml-20">Get A Quote <i class='bx bx-chevron-right'></i></a>
                                    <a href="#calendly-integration" class="default-btn btn-bg-two border-radius-50">Schedue a Meeting <i class='bx bx-chevron-right'></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-7">
                            <div class="banner-img">
                                <img src={% static "images/hero.jpg" %} alt="Images">
                                <div class="banner-img-shape">
                                    <img src={% static "images/hero.jpg" %} alt="Images">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="banner-sub-slider owl-carousel owl-theme">
                    <div class="banner-sub-item">
                        <img src={% static "images/home-three/home-three-sub1.jpg" %} alt="Images">
                        <div class="content">
                            <h3>{{info.satisfied_client}}</h3>
                            <span>Satisfied Clients</span>
                        </div>
                    </div>

                    <div class="banner-sub-item">
                        <img src={% static "images/home-three/home-three-sub2.jpg" %} alt="Images">
                        <div class="content">
                            <h3>{{info.countries}}+</h3>
                            <span>Country Worldwide</span>
                        </div>
                    </div>

                    <div class="banner-sub-item">
                        <img src={% static "images/home-three/home-three-sub3.jpg" %} alt="Images">
                        <div class="content">
                            <h3>{{ info.project_completed }}+</h3>
                            <span>Project Completed</span>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
        <!-- Banner Area Two End -->

        <!-- About Area -->
        <div class="about-area about-bg pt-100 pb-70">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="about-img-2">
                            <img src={% static "images/about-us.jpg" %} alt="About Images">
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="about-content-2 ml-20">
                            <div class="section-title">
                                <span class="sp-color1">About Us</span>
                                <h2>Right Partner for Software Innovation</h2>
                                <p>
                                    Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
                                    Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum auctor a ornare odio. 
                                </p>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-6">
                                    <div class="about-card">
                                        <div class="content">
                                            <i class="flaticon-practice"></i>
                                            <h3>Experience</h3>
                                        </div>
                                        <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet</p>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-6">
                                    <div class="about-card">
                                        <div class="content">
                                            <i class="flaticon-help"></i>
                                            <h3>Quick Support</h3>
                                        </div>
                                        <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About Area End -->

        <!-- Security Area -->
        <div class="security-area pt-100 pb-70">
            <div class="container">
                <div class="section-title text-center">
                    <span class="sp-color2">IT Security & Computing</span>
                    <h2>Searching for a Solution! We Provide Truly Prominent IT Solutions</h2>
                </div>
                <div class="row pt-45">
                    <div class="col-lg-4 col-sm-6">
                        <div class="security-card">
                            <i class="flaticon-cyber-security"></i>
                            <h3>Business Security</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam blandit scelerisque ullamcorper proin scelerisque tortor odio.</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6">
                        <div class="security-card">
                            <i class="flaticon-computer"></i>
                            <h3>Manage IT Service</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam blandit scelerisque ullamcorper proin scelerisque tortor odio.</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6">
                        <div class="security-card">
                            <i class="flaticon-effective"></i>
                            <h3>Product Analysis</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam blandit scelerisque ullamcorper proin scelerisque tortor odio.</p>
                        </div>
                    </div>

                  
                </div>
            </div>
        </div>
        <!-- Security Area End -->

        <!-- Services Area Three -->
        <section class="services-area-three pt-100 pb-70">
            <div class="container">
                <div class="section-title text-center">
                    <span class="sp-color2">Our Services</span>
                    <h2>We Provide a Wide Variety of IT Services</h2>
                </div>
                <div class="row pt-45">
                    {% for service in services %}
                    <div class="col-lg-4 col-md-6">
                        <div class="services-item">
                            <a href="{{ service.get_absolute_url }}">
                                <img src={{service.picture.url}} alt="Images">
                            </a>
                            <div class="content">
                                <i class="flaticon-consultant"></i>
                                <span>{{service.category}}</span>
                                <h3><a href="{{service.get_absolute_url}}">{{service.service}}</a></h3>
                            </div>
                        </div>
                    </div>

                    {% endfor %}

                    <div class="col-lg-4 col-md-6">
                        <div class="services-item">
                            <a href="service-detail.html">
                                <img src={% static "images/services/services-img2.jpg" %} alt="Images">
                            </a>
                            <div class="content">
                                <i class="flaticon-consulting"></i>
                                <span>Cloud Services</span>
                                <h3><a href="service-detail.html">Cloud Computing</a></h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="services-item">
                            <a href="service-detail.html">
                                <img src="assets/images/services/services-img3.jpg" alt="Images">
                            </a>
                            <div class="content">
                                <i class="flaticon-web-development"></i>
                                <span><a href="service-detail.html">Web Services</a></span>
                                <h3><a href="service-detail.html">Web Development</a></h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="services-item">
                            <a href="service-detail.html">
                                <img src="assets/images/services/services-img4.jpg" alt="Images">
                            </a>
                            <div class="content">
                                <i class="flaticon-stats"></i>
                                <span><a href="service-detail.html">Business</a></span>
                                <h3><a href="service-detail.html">Business Reform</a></h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="services-item">
                            <a href="service-detail.html">
                                <img src="assets/images/services/services-img5.jpg" alt="Images">
                            </a>
                            <div class="content">
                                <i class="flaticon-structure"></i>
                                <span><a href="service-detail.html">Planing</a></span>
                                <h3><a href="service-detail.html">Infrastructure</a></h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="services-item">
                            <a href="service-detail.html">
                                <img src="assets/images/services/services-img6.jpg" alt="Images">
                            </a>
                            <div class="content">
                                <i class="flaticon-data-analytics"></i>
                                <span><a href="service-detail.html">Analysis</a></span>
                                <h3><a href="service-detail.html">Data Analysis</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services Area Three End -->

        <!-- Build Area -->
        <div class="build-area pt-100 pb-70">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-8 col-md-8">
                        <div class="build-content">
                            <div class="section-title">
                                <span>We Carry More Than Just Good Coding Skills</span>
                                <h2>Let's Build Your Website!</h2>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4">
                        <div class="build-btn-area">
                            <a href={% url "contact" %} class="default-btn btn-bg-two border-radius-50">Contact Us <i class='bx bx-chevron-right'></i></a>
                        </div>
                    </div>
                </div>

                <div class="row pt-45">
                    <div class="col-lg-12">
                        <style> 
                            .play-btn-area::before {
                                background-image: url({% static 'images/about-us.jpg' %})
                        }
                        </style>
                        <div class="play-btn-area">
                            <a href="https://www.youtube.com/watch?v=nZ_K-DtTlh8" class="build-play popup-btn"><i class='bx bx-play'></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Build Area End -->

        <!-- Case Study Area -->
        <div class="case-study-area pb-70">
            <div class="container-fluid p-0">
                <div class="section-title text-center">
                    <span class="sp-color2">Projects</span>
                    <h2>Introduce Our Projects and Check Recent Work </h2>
                </div>

                <div class="case-study-slider owl-carousel owl-theme pt-45">

                  {% for project in projects %}
                    <div class="case-study-item">
                        <a href="{{project.get_absolute_url}}">
                            <img src="{{project.picture.url}}" alt="Images">
                        </a>
                        <div class="content">
                            <h3>Business Solution</h3>
                            <ul>
                                <li>Business</li>
                                <li>Planing</li>
                            </ul>
                            <a href="{{project.picture.url}}" class="more-btn"><i class='bx bx-right-arrow-alt'></i></a>
                        </div>
                    </div>
                  {% endfor %}

                    <div class="case-study-item">
                        <a href="work-detail.html">
                            <img src={% static "images/case-study/case-study2.jpg" %} alt="Images">
                        </a>
                        <div class="content">
                            <h3><a href="work-detail.html">Business Solution</a></h3>
                            <ul>
                                <li>Business</li>
                                <li><a href="work-detail.html">Planing</a> </li>
                            </ul>
                            <a href="work-detail.html" class="more-btn"><i class='bx bx-right-arrow-alt'></i></a>
                        </div>
                    </div>

                    <div class="case-study-item">
                        <a href="work-detail.html">
                            <img src="assets/images/case-study/case-study3.jpg" alt="Images">
                        </a>
                        <div class="content">
                            <h3><a href="work-detail.html">Business Solution</a></h3>
                            <ul>
                                <li><a href="work-detail.html">Business</a></li>
                                <li><a href="work-detail.html">Planing</a> </li>
                            </ul>
                            <a href="work-detail.html" class="more-btn"><i class='bx bx-right-arrow-alt'></i></a>
                        </div>
                    </div>

                    <div class="case-study-item">
                        <a href="work-detail.html">
                            <img src="assets/images/case-study/case-study4.jpg" alt="Images">
                        </a>
                        <div class="content">
                            <h3><a href="work-detail.html">UI/UX Research</a></h3>
                            <ul>
                                <li><a href="work-detail.html">UI/UX Design</a></li>
                                <li><a href="work-detail.html">Research</a> </li>
                            </ul>
                            <a href="case-details.html" class="more-btn"><i class='bx bx-right-arrow-alt'></i></a>
                        </div>
                    </div>

                    <div class="case-study-item">
                        <a href="work-detail.html">
                            <img src="assets/images/case-study/case-study6.jpg" alt="Images">
                        </a>
                        <div class="content">
                            <h3><a href="work-detail.html">Business Solution</a></h3>
                            <ul>
                                <li><a href="work-detail.html">Solution</a></li>
                                <li><a href="work-detail.html">Business</a> </li>
                            </ul>
                            <a href="work-detail.html" class="more-btn"><i class='bx bx-right-arrow-alt'></i></a>
                        </div>
                    </div>

                    <div class="case-study-item">
                        <a href="work-detail.html">
                            <img src="assets/images/case-study/case-study2.jpg" alt="Images">
                        </a>
                        <div class="content">
                            <h3><a href="work-detail.html">Web Development</a></h3>
                            <ul>
                                <li><a href="work-detail.html">Design</a></li>
                                <li><a href="work-detail.html">Development</a> </li>
                            </ul>
                            <a href="work-detail.html" class="more-btn"><i class='bx bx-right-arrow-alt'></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Case Study Area End -->

        <!-- Talk Area -->
        <div class="talk-area ptb-100" style="background-image: url({% static 'images/about-us.jpg' %})">
            <div class="container">
                <div class="talk-content text-center">
                    <div class="section-title text-center">
                        <span class="sp-color1">Let's Talk</span>
                        <h2>We Are Adding Kinds of It Services That You Grow Success</h2>
                    </div>
                    <a href={% url "contact" %} class="default-btn btn-bg-two border-radius-5">Contact Us</a>
                </div>
            </div>
        </div>
        <!-- Talk Area End -->

        

        <!-- Brand Area -->
        <div class="brand-area-two ptb-100">
            <div class="container">
                <div class="brand-slider owl-carousel owl-theme">
                    <div class="brand-item">
                        <img src={% static "images/brand-logo/brand-style1.png" %} alt="Images">
                    </div>
                    <div class="brand-item">
                        <img src={% static "images/brand-logo/brand-style2.png" %} alt="Images">
                    </div>
                    <div class="brand-item">
                        <img src={% static "images/brand-logo/brand-style3.png" %} alt="Images">
                    </div>
                    <div class="brand-item">
                        <img src={% static "images/brand-logo/brand-style4.png" %} alt="Images">
                    </div>
                    <div class="brand-item">
                        <img src={% static "images/brand-logo/brand-style5.png" %} alt="Images">
                    </div>
                    <div class="brand-item">
                        <img src={% static "images/brand-logo/brand-style3.png" %} alt="Images">
                    </div>
                </div>
            </div>
        </div>
        <!-- Brand Area End -->

        <!-- Clients Area -->
        <section class="clients-area pt-100 pb-70">
            <div class="container">
                <div class="section-title text-center">
                    <span class="sp-color2">Our Clients</span>
                    <h2>Our Clients Feedback</h2>
                </div>

                <div class="clients-slider owl-carousel owl-theme pt-45">
                    {% for testimonial in testimonial %}
                    <div class="clients-content">
                        <div class="content">
                            <img src="{{testimonial.picture.url}}" alt="Images">
                            <i class='bx bxs-quote-alt-left'></i>
                            <h3>{{testimonial.name}}</h3>
                            <span>{{testimonial.role}}</span>
                        </div>
                        <p>
                            “{{testimonial.feedback}}”
                        </p>
                    </div>
                    {% endfor %}

                    <div class="clients-content">
                        <div class="content">
                            <img src={% static "images/clients-img/clients-img2.jpg" %} alt="Images">
                            <i class='bx bxs-quote-alt-left'></i>
                            <h3>Alin Decros</h3>
                            <span>Graphic Designer</span>
                        </div>
                        <p>
                            “Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis.
                            sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi loren accumsan ipsum velit.”
                        </p>
                    </div>

                    <div class="clients-content">
                        <div class="content">
                            <img src="assets/images/clients-img/clients-img3.jpg" alt="Images">
                            <i class='bx bxs-quote-alt-left'></i>
                            <h3>Elen Musk</h3>
                            <span>Web Developer</span>
                        </div>
                        <p>
                            “Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis.
                            sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi loren accumsan ipsum velit.”
                        </p>
                    </div>
                </div>
            </div>

            <div class="client-circle">
                <div class="client-circle-1">
                    <div class="circle"></div>
                </div>
                <div class="client-circle-2">
                    <div class="circle"></div>
                </div>
                <div class="client-circle-3">
                    <div class="circle"></div>
                </div>
                <div class="client-circle-4">
                    <div class="circle"></div>
                </div>
                <div class="client-circle-5">
                    <div class="circle"></div>
                </div>
                <div class="client-circle-6">
                    <div class="circle"></div>
                </div>
                <div class="client-circle-7">
                    <div class="circle"></div>
                </div>
            </div>
        </section>
        <!-- Clients Area End -->

    {% endblock content %}   
        
 